require "rubygems"
require "bundler"
Bundler.setup

class <%= Thor::Util.camel_case(app_name) %>
end

Dir[File.expand_path(File.dirname(__FILE__) + "/<%= app_name %>/*.rb")].each do |file|
  require file
end